aiofiles==25.1.0
aiogram==3.28.2
aiohappyeyeballs==2.6.2
aiohttp==3.13.5
aiosignal==1.4.0
alembic==1.17.2
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.0
attrs==26.1.0
bcrypt==3.2.2
blis==1.3.3
catalogue==2.0.10
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.1
cloudpathlib==0.24.0
confection==0.1.5
cryptography==48.0.0
cymem==2.0.13
DAWG2-Python==0.9.0
dnspython==2.8.0
ecdsa==0.19.2
email-validator==2.3.0
fastapi==0.124.0
fastapi-cli==0.0.16
fastapi-cloud-cli==0.6.0
fastar==0.8.0
frozenlist==1.8.0
h11==0.16.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
idna==3.11
Jinja2==3.1.6
joblib==1.2.0
magic-filter==1.0.12
Mako==1.3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
multidict==6.7.1
murmurhash==1.0.15
numpy==2.4.6
packaging==26.2
passlib==1.7.4
preshed==3.0.13
propcache==0.5.2
psycopg2-binary==2.9.11
pyasn1==0.6.3
pycparser==3.0
pydantic==2.12.5
pydantic-settings==2.10.1
pydantic_core==2.41.5
Pygments==2.19.2
pymorphy3==2.0.6
pymorphy3-dicts-ru==2.4.417150.4580142
python-dotenv==1.2.1
python-jose==3.5.0
python-multipart==0.0.20
python-telegram-bot==21.10
PyYAML==6.0.3
requests==2.34.2
rich==14.2.0
rich-toolkit==0.17.0
rignore==0.7.6
rsa==4.9.1
ru_core_news_md @ https://github.com/explosion/spacy-models/releases/download/ru_core_news_md-3.8.0/ru_core_news_md-3.8.0-py3-none-any.whl#sha256=43f456d40e4b70726874e01ce01fce32f50089ba98a2660292e9a6c63a06ebe9
scikit-learn==1.7.2
scipy==1.17.1
sentry-sdk==2.47.0
setuptools==82.0.1
shellingham==1.5.4
six==1.17.0
smart_open==7.6.1
spacy==3.8.11
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.44
srsly==2.5.3
starlette==0.50.0
thinc==8.3.11
threadpoolctl==3.6.0
tqdm==4.67.3
typer==0.20.0
typer-slim==0.21.2
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.1
uvicorn==0.38.0
uvloop==0.22.1
wasabi==1.1.3
watchfiles==1.1.1
weasel==0.4.3
websockets==15.0.1
wrapt==2.1.2
yarl==1.24.2
